{
  "plugins": [
    "@babel/plugin-proposal-class-properties"
  ],
  "presets": [
    ["@babel/env", { "modules": false }],
    "@babel/react"
  ],
  "env": {
    "cjs": {
      "plugins": [
        "@babel/transform-modules-commonjs"
      ],
    }
  }
}
